body {
  margin-top: 65px;
  background: #FFFFF6;

}
ul li{
  display: inline-block;
  padding: 10px 15px;
}

ul li:first-child{
  padding: 10px 15px 10px 0;
}

ul li a:hover {
  /*border-bottom: 1px solid blue;*/
  color: #C40837;
}

ul li a{
  color: #96082B;
  text-decoration: none;
  font-size: 1.5em;
}

ul {
  margin: 0 auto;
  /*border: 1px solid blue;*/
}

nav {
background: rgba(12,102,212,1);
background: -moz-linear-gradient(top, rgba(12,102,212,1) 0%, rgba(7,157,212,1) 57%, rgba(177,227,245,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,102,212,1)), color-stop(57%, rgba(7,157,212,1)), color-stop(100%, rgba(177,227,245,1)));
background: -webkit-linear-gradient(top, rgba(12,102,212,1) 0%, rgba(7,157,212,1) 57%, rgba(177,227,245,1) 100%);
background: -o-linear-gradient(top, rgba(12,102,212,1) 0%, rgba(7,157,212,1) 57%, rgba(177,227,245,1) 100%);
background: -ms-linear-gradient(top, rgba(12,102,212,1) 0%, rgba(7,157,212,1) 57%, rgba(177,227,245,1) 100%);
background: linear-gradient(to bottom, rgba(12,102,212,1) 0%, rgba(7,157,212,1) 57%, rgba(177,227,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c66d4', endColorstr='#b1e3f5', GradientType=0 );
width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
}


.wrapper {
  width: 80%;
  margin: 0 auto;
}

.picture{
  margin:15px auto; 
  display:block;
}

.contact-link {
  padding: 2em;
  text-decoration: none;
  color: #02A6C7;
}